/* audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* opensans */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* italic */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Italianno&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');





@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


 body{

  @apply bg-secondary-color dark:bg-dark-primary-color font-poppins text-dark-primary-color dark:text-primary-color;


 }

body::-webkit-scrollbar{
  width:5px;

}

body::-webkit-scrollbar-track{
  @apply bg-transparent
}

body::-webkit-scrollbar-thumb{
 @apply bg-teal-500 rounded-full;
 
}
 @layer base{
  h1{
    @apply text-2xl sm:text-4xl lg:text-5xl   font-semibold dark:text-primary-color font-poppins
  }
  h2{
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold font-poppins
  }
  h3{
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold font-poppins
  }
  h4{
    @apply text-lg sm:text-xl lg:text-2xl font-semibold font-poppins text-font-white
  }
  h5{
    @apply text-base sm:text-lg lg:text-xl font-semibold font-poppins
  }
  h6{
    @apply text-sm sm:text-base lg:text-lg  font-poppins
  }
 }

/*hero slide */
/* 
.swiper-button-next,.swiper-button-prev{
 @apply !text-teal-400 p-1
} */

.swiper-pagination-bullet{
  @apply !bg-teal-500 
}








.carousel{
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar{
  display:none;
  anchor-name: --carousel;
} 
/* 
.carousel::scroll-button(right), .carousel::scroll-button(left){
  content:"Right";
  width:max-content;
  font-size:20px;
  cursor:pointer;
  color:black;
  background-color:white;
  height:60px;
  width:60px;
  border-radius:100%;
  position:fixed;
  position-anchor:--carousel;
  position-area:right center;
  z-index:10;
}
.carousel::scroll-button(left){
  content:"Left";
  translate:50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
  opacity:0.5;
  cursor:auto;
  position-area:left center;
} */












 /* infinite brand partners logo */


@keyframes loop {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: max-content;      /* IMPORTANT */
  animation: loop 12s linear infinite;
}

.card-container > div {
  flex-shrink: 0;          /* IMPORTANT */
}


.productCard{
  transform:translateX(-200px);
  opacity:0;
  transition:transform 0.5s ease-in, opacity 0.5s ease-out;
  
}

.show{
  transform:translateX(0);
  opacity:1
}




@theme{


  /* ----------color-section----------- */
  /* lightMode */
  
  --color-primary-color:#FFFFFF;
  --color-secondary-color:rgb(209, 213, 219);  /*gray-300*/
  --color-tertiary-color:rgb(229, 231, 235);
  --color-quad-color:#6B7280;

  /* font ko lagi */
  --color-font-white:#E8E8E8;
  --color-font-light-white:#696969;
  /* --color-lightest-color:#F3F4F6;
  --color-lighter-color:#E5E7EB; */

  /* darkMode */
  --color-dark-primary-color:#000000;   /*background*/
  --color-dark-secondary-color:#0C1116; /*nav and cards bg*/
  --color-dark-tertiary-color:#11161B; /*if need more light than the secondary color use for side cards populars*/
  --color-dark-search-bar-bg:#181D22; /*search bar background*/

  /*  both mode universal colors */
  --color-color-teal-300:oklch(91% 0.096 180.426);
  --color-color-teal-400:oklch(85.5% 0.138 181.071);
  --color-color-teal-500:oklch(77.7% 0.152 181.912);


  /* ----------------font-section------------- */
  --font-poppins:"Poppins", sans-serif;
  --font-audiowide:"Audiowide", sans-serif;
  --font-opensans:"Open Sans", sans-serif;


  /* white mode */
/* --font-most-important-color:#464040; */
--font-important-color:#f4f4f5;
--font-description-color:#a1a1aa;

  /* dark mode */
  --font-primary-color:oklch(98.5% 0.002 247.839); /*for most important headings*/
  --font-secondary-color:oklch(92% 0.004 286.32);
  --font-tertiary-color:oklch(87.2% 0.01 258.338);
  --font-quaternary-color:oklch(76.8% 0.02 240.659); /*for less important texts*/

}

@layer utilities{

/* for all */
.section_style{
  @apply flex flex-col gap-5 lg:gap-8
}



 /* navbar */
  .logo{
    @apply text-2xl sm:text-3xl  font-audiowide text-color-teal-400
  }

  .icon-wrapper{
    @apply cursor-pointer p-2 flex flex-row  items-center bg-tertiary-color dark:bg-dark-tertiary-color rounded-2xl 
  }

  .icon-style{
    @apply text-2xl sm:text-3xl   text-dark-primary-color dark:text-primary-color rounded-lg   transition-colors duration-300 ease-in-out 
  }
  .searchbar{
    @apply w-full rounded-xl px-10 py-2  max-lg:border max-lg:border-gray-700 lg:w-[300px] text-font-light-white xl:w-[400px] bg-gray-200 dark:bg-dark-secondary-color lg:dark:bg-dark-search-bar-bg
    placeholder:text-base placeholder:font-poppins dark:placeholder:text-gray-600 focus:outline-none dark:text-white animate-pulse
  }

  /* Slides in hero section */
  .heroSwiper{
    @apply w-full h-[350px] lg:h-[690px]
  }
  .heroSwiperSlide{
    @apply   w-full h-full 
  }

  /* Slides for product gallery */

  .galleryTopSwiper{
    @apply w-full h-[20em] sm:h-[30em] md:h-[23em] lg:h-[32em] xl:h-[34em] border-gray-500 rounded-xl

  }
  .galleryTopSwiperSlide{
    @apply w-full h-full
  }

  .galleryBottomSwiper{
    @apply relative z-10 w-full mt-5 h-[100px] sm:h-[140px] ;
  
    .swiper-button-prev,.swiper-button-next{    
      @apply !absolute !bg-white !text-black rounded-full p-2 !w-8 !h-8 !z-50 
      
    }
  }
  .galleryBottomSwiperSlide{
    @apply w-full h-full shadow-2xl rounded-md

  }


  .category_button_style{
    @apply  bg-dark-primary-color text-primary-color rounded-full px-5 py-3 cursor-pointer 

  }

  /* product card styles */
  .card-icon{
    @apply text-2xl sm:text-3xl rounded-lg text-primary-color dark:text-tertiary-color hover:text-green-500 transition-colors duration-300 ease-in-out 
  }

  .card-button{
    @apply bg-tertiary-color dark:bg-dark-tertiary-color px-4 py-4  hover:text-secondary-color dark:hover:text-color-teal-300 transition-all duration-200 ease-in-out shadow-xl 
  }

  /* signup */
  .form-input-style{
    @apply w-[320px] bg-tertiary-color active:bg-tertiary-color dark:active:bg-dark-search-bar-bg dark:bg-dark-search-bar-bg px-3 py-3 rounded-md text-font-light-white dark:text-tertiary-color placeholder:text-font-light-white dark:placeholder:text-font-light-white  outline-none border-none caret-color-teal-500 text-sm

  }



  /* footer */

  .footer_icons{
    @apply group-hover:text-font-light-white 
  }
  .footer_links{
    @apply text-xs md:text-sm lg:text-base xl:text-lg group-hover:text-font-light-white 
  }
  /* for  footer links page */
  .footer_links_paragraph{
  @apply text-justify text-xs  lg:text-sm  font-poppins

}

.footer_link_paragraph_container{
  @apply flex flex-col gap-2 lg:gap-4

}

/* specs styles */

.specs_row_wrapper{
  @apply dark:text-gray-300 w-full border-t-2 border-b-1 border-font-light-white  flex flex-row gap-10 last:border-b-2 
}

.list_value_style{
  @apply   relative flex flex-row gap-2 text-sm  lg:text-base font-poppins border-l-2 border-font-light-white pl-10 before:content-[''] before:absolute before:w-2 before:h-2 before:bg-teal-500 before:top-1/2 before:-translate-y-1/2 before:left-5 before:rounded-full  
}




  

  
}

