/* audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); 
/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* opensans */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Neonderthaw&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');





@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


 body{

  @apply bg-primary-color dark:bg-dark-primary-color font-poppins text-dark-primary-color dark:text-primary-color;
 }

 @layer base{
  h1{
    @apply text-2xl sm:text-4xl lg:text-5xl   font-semibold text-primary-color font-poppins
  }
  h2{
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold font-poppins
  }
  h3{
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold font-poppins
  }
  h4{
    @apply text-lg sm:text-xl lg:text-2xl font-semibold font-poppins
  }
  h5{
    @apply text-base sm:text-lg lg:text-xl font-semibold font-poppins
  }
  h6{
    @apply text-sm sm:text-base lg:text-lg  font-poppins
  }
 }

 




@theme{


  /* ----------color-section----------- */
  /* lightMode */
  --color-primary-color:#FFFFFF;
  --color-secondary-color:rgb(209, 213, 219);  /*gray-300*/
  --color-tertiary-color:#6B7280;
  --color-lightest-color:#F3F4F6;
  --color-lighter-color:#E5E7EB;

  /* darkMode */
  --color-dark-primary-color:#000000;   /*background*/
  --color-dark-secondary-color:#0C1116; /*nav and cards bg*/
  --color-dark-tertiary-color:#11161B; /*if need more light than the secondary color use for side cards populars*/
  --color-dark-search-bar-bg:#181D22; /*search bar background*/

  /*  both mode universal colors */
  --color-color-teal-300:oklch(91% 0.096 180.426);
  --color-color-teal-400:oklch(85.5% 0.138 181.071);
  --color-color-teal-500:oklch(77.7% 0.152 181.912);


  /* ----------------font-section------------- */
  --font-poppins:"Poppins", sans-serif;
  --font-audiowide:"Audiowide", sans-serif;
  --font-opensans:"Open Sans", sans-serif;


  /* white mode */


  /* dark mode */
  --font-primary-color:oklch(98.5% 0.002 247.839); /*for most important headings*/
  --font-secondary-color:oklch(92% 0.004 286.32);
  --font-tertiary-color:oklch(87.2% 0.01 258.338);
  --font-quaternary-color:oklch(76.8% 0.02 240.659); /*for less important texts*/

}

@layer utilities{

  .logo{
    @apply text-2xl sm:text-3xl  font-audiowide text-color-teal-400
  }

  .icon-wrapper{
    @apply cursor-pointer p-2 flex flex-row  items-center bg-tertiary-color dark:bg-dark-tertiary-color rounded-2xl 
  }

  .icon-style{
    @apply text-2xl sm:text-3xl   text-dark-primary-color dark:text-primary-color rounded-lg   transition-colors duration-300 ease-in-out 
  }
  .searchbar{
    @apply w-full rounded-xl px-10 py-2  max-lg:border max-lg:border-gray-700 lg:w-[300px] xl:w-[400px] bg-gray-200 dark:bg-dark-secondary-color lg:dark:bg-dark-search-bar-bg
    placeholder:text-base placeholder:font-poppins dark:placeholder:text-gray-600 focus:outline-none dark:text-white
  }

  /* Slides in hero section */
  .swiper{
    @apply w-full h-[350px] lg:h-[680px] 
  }
  .swiper-slide{
    @apply  pb-4 w-full h-full
  }

  /* product card styles */
  .card-icon{
    @apply text-2xl sm:text-3xl rounded-lg text-primary-color dark:text-tertiary-color hover:text-green-500 transition-colors duration-300 ease-in-out 
  }

  .card-button{
    @apply bg-tertiary-color dark:bg-dark-tertiary-color px-4 py-4  hover:text-secondary-color dark:hover:text-color-teal-300 transition-all duration-200 ease-in-out shadow-xl 
  }
  

  
}

